header { 
    background-color: white;
}
.boss {
    width: 20%;
    height: auto;
}
@media screen and (max-width: 479px){
    .boss {
        width: 60%;
    }
    }

    @media screen and (max-width: 1002px) and (min-width: 768px){
        .boss {
            width: 100%;
        }
        }

.se {
    float: right;
}
.sp {
    color: blue;
    }
    .it {
    color: red;
    }

    .gLFyf{
        border: grey solid 2px;
        word-wrap: break-word;
        background-color:white;
        outline: none;
        height: auto;
        font-size: 16px;

    }

.sech {
    width: 100%;
    margin-bottom: 10px;
}



.but {
    background-color:white;

}

#s {
    font: 16px arial,sans-serif;
    height: auto ;
}

    .content {
        background-color:white;
        width: 100%;
        height: auto;
        box-shadow: 0 10px 40px -18px #000;
        float: left;
        /* margin-top: 20px; */
        position: relative;
        width: 100%;
        /* padding-left: 50px; */
        /* padding-right: 50px; */
    }
    #content-main {
        float: left;
        position: relative;
        width: 66%;
        z-index: 10;
    }
    h1.cat-heading {
        font: 800 34px/120% 'Open Sans', sans-serif;
        padding-top: 20px;
        text-align: center;
        text-transform: uppercase;
        width: 100%;
        color: #e50000;

    }

    ul.blog-layout1 li:first-child, ul.blog-layout2 li:first-child {
        border-top: none;
        padding-top: 0;
    }
    .blog-layout1-img img {
        width: 50%;
        height: auto;
    }
    
    @media screen and (max-width: 479px){
        .blog-layout1-img img {
            width: 100%;
        }
        }
    .blog-layout1-text h2 a {
        color: #333;
        float: left;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: -1px;
        line-height: 120%;
        margin-bottom: 8px;
        width: 100%;
    }
    
    ol, ul {
        list-style: none;
    }

    .blog-layout1-text p {
        color: #555;
        float: left;
        font: 13px/140% helvetica, arial, sans-serif;
        margin-bottom: 15px;
        width: 100%;
    }
    
    ul.blog-layout1 li, ul.blog-layout2 li {
        background: #fff;
        border-top: 1px dotted #ccc;
        float: left;
        overflow: hidden;
        padding: 10px 0;
        width:100%;
        list-style-type: none;
    }
    .widget-home-wrapper .blog-layout1-img {
        float: left;
        line-height: 0;
        overflow: hidden;
        position: relative;
        width: 39.0630%;
    }
    .widget-home-wrapper {
        float: left;
        /* margin-top: 20px; */
        padding-left: 3.03030303030303%;
        position: relative;
        width: 96.969696969696%;
    }
    .widget-home-wrapper .blog-layout1-text {
        float: left;
        margin-left: 3.125%;
        /* width:100%; */
        width: 57.8125%;
    }
    .widget-home-wrapper .blog-layout1-text {
        margin-left: 0;
        width: 100%;
    }

    @media screen and (max-width: 767px) and (min-width: 600px) {
    #content, #content-wrapper article {
        padding: 0 3.33333333333333%;
        width: 93.333333333333%;
    }
    }
    @media screen and (max-width: 479px){
    #content, #content-wrapper article {
        padding: 0 3.125% 20px;
        width: 93.75%;
    }
    }
    @media screen and (max-width: 479px) {
    #leaderboard, #logo-leader-wrapper, #large-logo, #nav-container, .iosslider .slider .slide, ul.featured-items li, ul.featured-items li img, #content-main, .widget-home-wrapper .blog-layout1-img, .widget-home-wrapper .headlines-main, #page-header, .widget-home-wrapper, #scoreboard-main-inner {
        width: 100%;
    }
    }
    
    @media screen and (max-width: 1002px) and (min-width: 768px){
    #content-main {
        margin-right: -340px;
        width: 100%;
    }
    }






















div.center {
    text-align: center;
}


.ite1 {
    color: rgb(72, 72, 243);
}
.ite2 {
    color: skyblue;
}

.ite3 {
    color:rgb(21, 158, 21);
}

.ite4 {
    color: rgb(221, 50, 50);
}

.ite5 {
    color: rgb(235, 90, 90);;
}

.ite6 {
    color:black;
    transform: rotate(0deg);
}
i {
    word-spacing: 10px;
    padding: 5px;
}


footer {
    margin: 0;
    padding: 0px;
   } 